.formSection{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.formInp input{
    border: 1px solid green;
    width: 20rem;
    height: 2rem;
}

.formBtn{
    width: 10rem;
    height: 2rem;
    color: azure;
    background-color: rgb(68, 68, 245);
    margin-top: 20px;
}